<div class="banner show-img-cover text-center" style="background-image:url(<%= @territory.picture.url(:large) %>)">
  <div class="gradient"></div>
  <div class="banner-content">
    <h1 id="trip-name"><%= @trip.name %></h1>
      <div class="padded">
        <%= link_to new_account_trip_booking_path(@trip), {class: "btn btn-primary"} do %>
          <h5>Réservez maintenant!</h5>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="content container">
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-2 text-left">
      <p><strong>Catégorie :</strong></p>
    </div>
    <div class="col-xs-12 col-md-3 text-left">
      <p><%= @trip.category_text %></p>
    </div>
    <div class="col-xs-12 col-md-3 text-left">
      <p><%= number_with_precision(@trip.price, precision: 0) %> € / nuit</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-2 text-left">
      <p><strong>Description :</strong></p>
    </div>
    <div class="col-xs-12 col-md-6 text-left">
      <p><%= @trip.description %></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-2 text-left">
      <p><strong>Ville :</strong></p>
    </div>
    <div class="col-xs-12 col-md-6 text-left">
      <p><%= @trip.city %></p>
    </div>
  </div>
</div>
